<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture resource_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if resource_title != "Index" %}{{ resource_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

<meta name="description" content="{{ metadata.description }}" />

<link rel="stylesheet" href="{% asset_path css %}" />
<!-- Google Material Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<!-- Google Material Icons -->
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/1008d6c090.js" crossorigin="anonymous"></script>
<!-- Font Awesome Icons -->
<!-- Bulma Carousel -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.24/dist/css/bulma-carousel.min.css" />
<script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.24/dist/js/bulma-carousel.min.js"></script>
<!-- Bulma Carousel -->
<script src="{% asset_path js %}" defer></script>
{% live_reload_dev_js %}
